:root {
  --primary-color: #677A62; /* Dark Olive Green */
  --secondary-color: #DDA44E; /* Warm Gold / Orange */
  --accent1-color: #855D2C; /* Dark Brown / Bronze */
  --accent2-color: #F3F0EA; /* Off-white / Cream */
  --heading-font: "Crimson Pro", serif;
  --body-font: "Merriweather", serif;
}

